/* .main-divv{
  display: flex;
  margin-top: 1rem;
}
.sidebar-div{
width: 15%;
}
.content-div{
width: 85%;
} */






.main-divv {
  display: flex;
  margin-top: 90px; 
  height: calc(100vh - 60px); 
}

.sidebar-div {
  width: 10%;
  background-color: #f8f9fa; 
  height: 100%;
  padding: 10px;
  border-right: 2px solid #ddd;
}

.content-div {
  width: 90%;
  padding: 20px;
  overflow-y: auto; 
  background-color: #ffffff;
  border-radius: 10px;
}
